[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
    ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
    ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
    ignore = untracked
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
    ignore = untracked
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/pony"]
	path = bundle/pony
	url = https://github.com/rainerborene/vim-pony.git
[submodule "bundle/snipmate_for_django"]
	path = bundle/snipmate_for_django
	url = https://github.com/robhudson/snipmate_for_django.git
[submodule "bundle/ident-object"]
	path = bundle/ident-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = http://github.com/mattn/emmet-vim.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
